{% extends 'main.html' %}
{% block content %}
  <main class="auth layout" style="margin-top: 0px;">
    <div class="container">
      <div class="layout__box">
        <div class="layout__boxHeader">
          <div class="layout__boxTitle">
            <h3>Email Registration Verification</h3>
          </div>
        </div>
        <div class="layout__body">
          <h2 class="auth__tagline">Email Registration</h2>
          <p style="text-align: center;">Hi, please check your inbox for the verification email on.</p>
          <form class="form" action="" method="POST">
            {% csrf_token %}
            <div class="auth__action">
              {% comment %} <div class="form__group form__group">
                <label for="room_name">Email</label>
                <input id="username" name="email" type="text" placeholder="Email" required/>
              </div> {% endcomment %}
              <p>Haven't received mail yet? Please click on <a href="{% url 'resendmail' %}" onclick="location.href=this.href+'?email='+emailverify;return false;">Resend Email</a>.</p>
              <p  id="testemail"></p>
          </form>
          </div>
        </div>
      </div>
    </div>
  </main>
  <script>
  
  let emailverify = localStorage.getItem("email");
  console.log("Hiiiiiiiii**********", emailverify);
  document.getElementById("testemail").innerHTML = emailverify;
  </script>
{% endblock content %}
